 version: 2
 jobs:
   one:
     docker:
       - image: circleci/ruby:2.4.1
     steps:
       - checkout
       - run: echo "GIR- Your head smells like a puppy"
   two:
     docker:
       - image: circleci/ruby:2.4.1
     steps:
       - checkout
       - run: echo "GIR- It was me, I was the turkey all the time!"
workflows:
  version: 2
  workflow_1:
    jobs:
      - two
      - one
