 version: 2
 jobs:
   one:
     docker:
       - image: circleci/python:3.7.3
     steps:
       - checkout
       - run: echo "GIR- Your head smells like a puppy"
   two:
     docker:
       - image: circleci/ruby:2.4.1
     steps:
       - checkout
       - run: echo "GIR- It was me, I was the turkey all the time!!"
       - run: sleep 15
       - run: notacommand
 workflows:
   version: 2
   one_and_two:
     jobs:
       - one
       - two
